h2{
	color: red;
	transition: 0.5s;
}

h3{
	color: #455e88;	
	transition: 0.5s;
}

.error0{
	color: green;
	transition: 0.5s;
	padding-bottom: 20px;
}

.container-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding-top: 20px;
}

.container-box,
.box.separador2 {
  flex-basis: 50%;
}

.container-box .box,
.box.separador2 .box {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

.container-box label,
.box.separador2 label {
  font-weight: bold;
}

.container-box input[type="text"],
.box.separador2 input[type="text"],
.container-box input[type="submit"],
.box.separador2 input[type="submit"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 100%;
  margin-bottom: 10px;
}

.container-box input[type="submit"],
.box.separador2 input[type="submit"] {
  background-color: #455e88;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.container-box input[type="submit"]:hover,
.box.separador2 input[type="submit"]:hover {
  background-color: #ccc;
}

.container-box h3,
.box.separador2 h3 {
  color: red;
  font-size: 16px;
  margin-top: 5px;
}

.custom-scrollbar {
  max-height: 200px;
  overflow-y: auto;
}

.box {
  text-align: center;
}

.tema{
	text-align: center;
}


--separator

body {
  margin: 0;
  padding: 0;
  
}

/* Centrar horizontalmente */
.topnav {
  background-color: #455e88;
  overflow: hidden;
  display: flex;
  justify-content: center; 
  
}

.topnav a {
  margin: 0%;
  color: #f2f2f2;
  text-align: center;
  padding: 25px 3.331%;
  text-decoration: none;
  flex-grow: 1;
  width: 10%;
  transition: background-color 0.3s, color 0.3s;
}

.topnav a:hover {
  background-color: #ddd;
  color: #333;
}

.topnav a.active {
  color: white;
}

.topnav .icon {
  display: none;
}

/* Estilos adicionales para el header */
.header {
  padding: 20px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.header h1 {
  margin: 0;
  font-size: 24px;
  color: #333;
}

.heargbp {
  margin: 0;
  font-size: 14px;
  color: #888;
}



--delgado
body {
  margin: 0;
  padding: 0;
}

header {
  margin-top: 0;
  padding: 0;
}

.topnav {
  margin: 0;
  padding: 0;
}

.topnav a {
  padding: 10px;
}








