#file-input {
    display: none;
  }

  body {
    margin: 0;
  }

  .navbar {
    overflow: hidden;
    display: flex;
    justify-content: center;
    white-space: nowrap;
  }
  
  .navbar2 {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap; /* Agregado: Permite envolver los elementos en varias líneas */
  }
  
  .navbar a {
    color: #000000;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
    margin: 0 10px; /* Modificado: Reduce el margen horizontal */
    flex: 1; /* Agregado: Permite que los elementos se expandan para llenar el espacio */
    max-width: 200px; /* Agregado: Limita el ancho máximo de los elementos */
    box-sizing: border-box; /* Agregado: Incluye el padding en el ancho total */
  }
  
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }

  .combobox {
    position: relative;
    display: inline-block;
  }

  .combobox select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 200px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    cursor: pointer;
  }

  .combobox:after {
    content: '\25BC';
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 12px;
    pointer-events: none;
  }

  .input-container {
    max-width: 400px;
    margin: 0 auto;
  }

  .input-container input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
  }

  /* Estilos CSS para el contenido de la página */
  .content {
    padding: 20px;
  }

  h1 {
    justify-content: center;
    overflow: hidden;
    display: flex;
    padding: 1.5%;
  }

  .linea {
    border-top: 2px solid black;
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin-left:2%;
    margin-right: 2%;
  }

  .button {
   padding: 10px 20px;
    background-color: rgb(236, 224, 224);
    border: none;
    text-decoration: none;
    cursor: pointer;
    margin: 2.5%;
    border-radius: 2px;
    color: rgb(98, 94, 94);
    margin-left: 15%;
    margin-right: 15%;
   

    
  }
  

  .div-botones {
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .combobox,
  .input-container {
    margin: 0 50px;
  }

  .combobox select {
    width: 200px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
  }

  .input-container input {
    width: 200px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
  }


  .button-archivo{
    text-align: center;
    font-size: medium;
    padding: 15px 15px;
    text-decoration: none;
    background: none;
    border-radius: none;
    border: none;
    margin-right: 85%;
  }

  .button-archivo:hover {
    background-color: #ddd;
    color: black;
  }

  .div-texto{
    background-color:bisque;
    padding: 12%;
    margin-left: 5%;
    margin-right: 5%;
  }
  
